body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;     /* Centrado horizontal */
    align-items: center;         /* Centrado vertical */
}



/* Estilos para el menú de selección de temas */


.container {
    width: 600px; /* Aumentar el ancho máximo del contenedor */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Centrar el contenido */
    
}

/* En pantallas más pequeñas que 450px, el container toma casi todo el ancho */
@media (max-width: 450px) {
    .container {
        width: 95%;      /* casi todo el ancho disponible */
        max-width: 400px; /* para no crecer más allá de 400px */
    }
}

#mainMenu, #subMenu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.themeButton, .subThemeButton {
    width: calc(100% - 10px); /* Botones que cubren todo el ancho del contenedor con un pequeño margen */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #2980b9; /* Azul oscuro */
    color: #fff;
}

.themeButton:hover, .subThemeButton:hover {
    background-color: #3498db; /* Azul claro */
}

#backButton, #exitButton {
    width: calc(50% - 5px);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

#backtoareaButton, #exitButton {
    width: calc(50% - 5px);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

#exitButton {
    background-color: #e74c3c; /* Rojo */
    color: #fff;
}

#exitButton:hover {
    background-color: #c0392b; /* Rojo oscuro */
}



